<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>shoezy</title>
</head>
<link href="/images/shoezy.jpg" rel="icon">
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/css/otp.css">

</html>

<div class="d-flex justify-content-center align-items-center container">
  <form action="/otpverification" method="post">
    <div class="card py-5 px-3">
      <h5 class="m-0 pb-2 text-center">Email verification</h5><span class="mobile-text"><b
          class="text-success">"Registration successful! </b> An OTP has been sent to your email. Please enter the code
        to
        verify your email and activate your account."</span>
      <div class="d-flex flex-row mt-5"><input type="number" name="otp" class="form-control"></div>
      <div class="error-message" id="errorPassword">
        <% if (typeof message !=='undefined' ) { %>
          <div class="error-message text-center" id="errorPassword">
            <%= message %>
          </div>
          <% } %>
      </div>

      <div class="text-center">
        <p>Didn't get the OTP? <button type="button" class="resend-btn" id="resend-otp" resend-otp>resend OTP</button>
        </p>
        <p id="count" class="text-center"></p>
      </div>
      <div class="text-center mt-2">
        <button id="submit-btn" class="btn" type="submit">submit</button>
      </div>
  </form>
</div>



<script>


  let otpbutton = document.getElementById('resend-otp');

  otpbutton.addEventListener('click', () => {
    let countdown = 60;
    const counting = setInterval(() => {
      const minutes = Math.floor(countdown / 60);
      const seconds = countdown % 60;

      document.getElementById('count').innerHTML = `Request new OTP in ${minutes}:${seconds} seconds`;
      document.getElementById('resend-otp').disabled = true
      otpbutton.style.cursor = 'not-allowed'

      if (countdown === 0) {
        clearInterval(counting);
        document.getElementById('resend-otp').disabled = false
        otpbutton.style.cursor = 'pointer'
        document.getElementById('count').innerHTML = "";
      } else {
        countdown--;
      }
    }, 1000);

    fetch('/resend-otp', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
    })
      .then(response => {
        // Handle the response if needed
      })
      .catch(error => {
        console.error('Error:', error);
      });
  });



</script>


<script src="/scripts/script.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>