<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>shoezy</title>

  <!-- Google Font -->
  <link href="/images/shoezy.jpg" rel="icon">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
  <!-- Css Styles -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="/css/style1.css" type="text/css">
  <link rel="stylesheet" href="/css/style.css">
</head>


<body>

  <div id="preloder">
    <div class="loader"></div>
  </div>

  <div class="container d-flex justify-content-center align-items-center h-100">
    <div class="row ">
      <div class="col-md-12 mt-4">
        <div class="form-container">
          <form class="form" action="/register" method="post" id="registrationForm">
            <p class="title text-center message">Create An Account</p>
            <div class="flex">
              <label>
                <input id="firstname" name="firstname" required required minlength="2" maxlength="20" placeholder=""
                  type="text" class="input">
                <span>Firstname</span>
              </label>
              <label>
                <input required="" id="lastname" name="lastname" required placeholder="" type="text" class="input">
                <span>Lastname</span>
              </label>
            </div>

            <label>
              <input required="" placeholder="" id="email" name="email" type="email" class="input">
              <span>Email</span>
              <div class="error-message" id="errorEmail">
                <% if (typeof message1 !=='undefined' ) { %>
                  <%= message1 %>
                    <% } %>
              </div>
            </label>
            <label>
              <input required="" placeholder="" id="mobile" name="mobile" type="number" class="input" required>
              <span>Mobile</span>
            </label>

            <label>
              <input required="" placeholder="" id="password" name="password" type="password" required min="6" max="30"
                class="input">
              <span>Password</span>
            </label>
            <label>
              <input required="" placeholder="" id="password1" name="password1" type="password" required min="6"
                max="30" class="input">
              <span>Confirm password</span>
            </label>
            <button type="submit" class="button">
              Signup
            </button>
            <p class="signin">Already have an acount ? <a href="/login">Login</a> </p>
          </form>
          </p>
        </div>
      </div>
    </div>
  </div>




  <script src="/scripts/script.js"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.slicknav.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/jquery.nicescroll.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/jquery.countdown.min.js"></script>
  <script src="/js/mixitup.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>