<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>shoezy</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
  <!-- Css Styles -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="/css/style1.css" type="text/css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>

  <div id="preloder">
    <div class="loader"></div>
  </div>

  <div class="container">
    <div class="row d-flex justify-content-start align-items-start">
      <div class="col-md-6 mt-4">
        <div class="block">
          <div class="welcome-text mt-4 ">Welcome to <br />shoezy</div>
          <div class="image-container"></div>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <form action="/register" method="post" id="registrationForm">
          <div class="card card-registration">
            <div class="card-body p-md-3 text-black">
              <h3 class="mb-4 text-uppercase">create an account </h3>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-outline">
                    <input type="text" id="firstname" name="firstname" class="form-control" required minlength="2"
                      maxlength="20" />
                    <label class="form-label" for="firstname">First name</label>
                    <div class="error-message" id="errorFirstname"></div>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-outline">
                    <input type="text" id="lastname" name="lastname" class="form-control" required />
                    <label class="form-label" for="lastname">Last name</label>
                    <div class="error-message" id="errorLastname"></div>
                  </div>
                </div>
              </div>
              <div class="form-outline mb-3">
                <input type="email" id="email" name="email" class="form-control"  />
                <label class="form-label" for="email">Email</label>
                <div class="error-message" id="errorEmail">
                <% if (typeof message1 !=='undefined' ) { %>
                    <%= message1 %>
                <% } %>
              </div>
              </div>
              <div class="form-outline mb-3">
                <input type="number" id="mobile" name="mobile" class="form-control" required />
                <label class="form-label" for="mobile">Mobile</label>
                <div class="error-message" id="errorMobile"></div>
              </div>

              <div class="form-outline mb-3">
                <input type="password" id="password" name="password" class="form-control" required min="6" max="30" />
                <label class="form-label" for="password">Password</label>
                <div class="error-message" id="errorPassword"></div>
              </div>

              <div class="form-outline mb-3">
                <input type="password" id="password1" name="password1" class="form-control" required min="6" max="30" />
                <label class="form-label" for="password1">Confirm Password</label>
                <div class="error-message" id="errorPassword1"></div>
              </div>
              <div class="form-outline text-center">
                <button type="submit" class="btn btn-block">signup</button>
              </div>
              <div class="text-center mt-4">
                <p>Already have an account? <a href="/login">Login</a></p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="/scripts/script.js"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.slicknav.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/jquery.nicescroll.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/jquery.countdown.min.js"></script>
  <script src="/js/mixitup.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>
